<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To Star System</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#"></a>YILDIZ SİSTEMLERİ</div>
            <ul class="links">
                <li><a href="hero">Ana Sayfa</a></li>
                <li><a href="hero">Gezegen Ekle</a></li>
                <li><a href="hero">Uydu Ekle</a></li>
                <li><a href="hero">Contacts</a></li>
            </ul>
            <a href="#" class="action-btn">Get Started</a>
            <div class="toggle-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu open">
            <li><a href="hero">Ana Sayfa</a></li>
            <li><a href="hero">Gezegen Ekle</a></li>
            <li><a href="hero">Uydu Ekle</a></li>
            <li><a href="hero">Contacts</a></li>
            <li><a href="#" class="action-btn">Get Started</a></li>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col-md-6">
                <section id="hero">
                    <app-mainpage></app-mainpage>
                </section>
            </div>
            <div class="col-md-6">
                <section id="hero">
                    <app-gezegen></app-gezegen>
                </section>
            </div>
        </div>
    </main>
</body>

</html>